.about-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  color: var(--main);
  position: relative;
  padding-top: 6%;
}

.about-left-section {
  flex: 2;
  max-width: 70%;
  padding-left: 2rem;
}

.about-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left;
  color: var(--font-colour);
  position: relative;
  margin: 1rem 0 1rem 0;
}

.about-title:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: var(--quinary);
}

.about-content {
  display: flex;
  flex-direction: column;
  max-height: 80%;
}

.about-text p {
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--font-colour);
  margin: 0.5rem 0;
}

.about-text {
  margin-right: 2.5rem;
}

.timeline-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
}

.timeline {
  position: relative;
  max-width: 425px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
}

.timeline-line {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: var(--quinary);
}

.timeline-item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0;
}

.timeline-dot {
  position: absolute;
  right: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--quinary);
  z-index: 2;
}

.timeline-content {
  background: var(--font-colour);
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--font-colour);
  margin-right: 30px;
  transition: transform 0.3s ease;
  border-right: 4px solid var(--quinary);
  width: 425px;
}

.timeline-content:hover {
  transform: translateY(-5px);
}

.timeline-content h3 {
  margin: 0;
  color: var(--quinary);
  font-size: 1.2rem;
  text-align: right;
}

.timeline-content h4 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: var(--main);
  text-align: right;
}

.timeline-content p {
  margin: 0.5rem 0 0;
  font-style: italic;
  color: var(--quinary);
  font-size: 1rem;
  text-align: right;
}

.pictures-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  width: 450px;
  height: 325px;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 10;
  margin-left: 5%;
}

.picture-item {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--quinary);
  transition: transform 0.3s ease;
}

.picture-item:hover {
  transform: scale(1.05);
}

.picture-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Border effects for pictures */
.picture-item:nth-child(1) {
  border-top-left-radius: 100px;
}

.picture-item:nth-child(2) {
  border-top-right-radius: 100px;
}

.picture-item:nth-child(3) {
  border-bottom-left-radius: 100px;
}

.picture-item:nth-child(4) {
  border-bottom-right-radius: 100px;
}

/* Animation classes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

/* Mobile Styles for About and Timeline */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
    height: 100vh;
    padding: 0;
  }

  .about-left-section {
    max-width: 100%;
    padding: 0 2rem;
    margin-top: 20%;
  }

  .about-title {
    font-size: 2rem;
    text-align: center;
    margin: 0.5rem 0 2rem 0;
  }

  .about-title:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-text {
    margin-right: 0;
  }

  .about-text p {
    font-size: 1rem;
    text-align: left;
    color: var(--font-colour);
  }

  .timeline-section.desktop {
    display: none;
  }

  .pictures-grid {
    display: none;
  }
}