@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #EDF6F9;
    --secondary: #006D77;
    --tertiary: #83C5BE;
    --quarternary: #FFDDD2;
    --quinary: #E29578;
    --font-colour: #2D2D2D; 
  }